DZ1.json
[{"id":"aac76325.928e3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e85d3ba8.312e98","type":"inject","z":"aac76325.928e3","name":"TEST","topic":"test","payload":"{\"message\" : \"test\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["6e0670f5.1c5c9"]]},{"id":"fa9588c2.e85d28","type":"debug","z":"aac76325.928e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":100,"wires":[]},{"id":"c83e8020.b7657","type":"function","z":"aac76325.928e3","name":"","func":"msg.HW1 = 'покупка: '+ msg.payload[0].buy + '  /  продажа:  '+ msg.payload[0].sale\nmsg.DateHW1 = msg.headers.date\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["fa9588c2.e85d28"]]},{"id":"6e0670f5.1c5c9","type":"http request","z":"aac76325.928e3","name":"Курс валюты","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["c83e8020.b7657"]]}]