DZ2
[{"id":"ad4fe5bc.d524d8","type":"tab","label":"Урок 2","disabled":false,"info":""},{"id":"af360298.9f9a1","type":"http request","z":"ad4fe5bc.d524d8","name":"Получение СИДА","method":"POST","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/open","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":120,"wires":[[]]},{"id":"f8c73388.d5123","type":"inject","z":"ad4fe5bc.d524d8","name":"Техлогин+пароль","topic":"","payload":"{\"user\":{\"login\":\"conveyor104471\",\"auth\":\"EXCL\",\"password\":\"sr19bmhmV1gekDuALVPW\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["af360298.9f9a1"]]},{"id":"e61aebb8.b79b98","type":"debug","z":"ad4fe5bc.d524d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":460,"wires":[]},{"id":"6e66b685.7652d8","type":"http in","z":"ad4fe5bc.d524d8","name":"Вход","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["bf8221de.8f65a"]]},{"id":"32580368.3d120c","type":"http response","z":"ad4fe5bc.d524d8","name":"Выход ошибка сессии авторизации","statusCode":"200","headers":{},"x":850,"y":300,"wires":[]},{"id":"bf8221de.8f65a","type":"function","z":"ad4fe5bc.d524d8","name":"Забираем параметры/формируем запрос к авторизации","func":"msg.content = msg.payload\nmsg.payload = {\"users\":{\"list\":[{\"login\": msg.content.LDAP,\"auth\":\"LDAP\"}]},\"subsystems\":{\"list\":[{\"id\":\"HELP\"}]}}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["d6ad1089.9b3dd"]]},{"id":"d6ad1089.9b3dd","type":"http request","z":"ad4fe5bc.d524d8","name":"Проверка активности сессии","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{content.SID}}?activeOnly=true","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":220,"wires":[["a47d3d20.d0ec6"]]},{"id":"a47d3d20.d0ec6","type":"xml","z":"ad4fe5bc.d524d8","name":"","property":"payload","attr":"","chr":"","x":960,"y":220,"wires":[["e88c8ae4.36fbf8"]]},{"id":"e88c8ae4.36fbf8","type":"function","z":"ad4fe5bc.d524d8","name":"ядро/парсинг номера + проверка авторизации","func":"if (msg.payload.session.user[0].$.login == \"conveyor104471\") {\n    msg.check = msg.content.phone.substring(0, 3)\n    if (msg.content.phone.length == 12 && msg.check == \"380\") {\n       msg.MobileOperators = {\n        \"Kievstar\" : {\n            \"1\" : \"067\",\n            \"2\" : \"096\",\n            \"3\" : \"097\",\n            \"4\" : \"098\"\n        },\n        \"Life\" : {\n            \"1\" : \"063\",\n            \"2\" : \"073\", \n            \"3\" : \"093\"\n        },\n        \"Vodafone\" : {\n            \"1\" : \"050\",\n            \"2\" : \"066\",\n            \"3\" : \"095\",\n            \"4\" : \"099\"\n        },\n        \"Trimobile\" : {\"1\":\"091\"},\n        \"PeopleNet\" : {\"1\":\"092\"},\n        \"Intertelecom\" : {\"1\":\"094\"}\n        }\n    msg.AnalyticParam = msg.content.phone.substring(2, 5)\n    for (var s in msg.MobileOperators){\n        for (var w in msg.MobileOperators[s]){\n            if (msg.AnalyticParam == msg.MobileOperators[s][w]) {\n                msg.Result = s\n                msg.payload = msg.Result\n                return [null, msg, null, null, msg];\n            }\n        }\n    }\n    if (msg.Result) {} else {\n    msg.payload = \"Номер не идентифицирован\"\n    return [null, null, msg, null, msg];\n    } \n    }else{\n    msg.payload = \"некорректный ввод номера, просьба использовать формат: 380...\"\n    return [null, null, null , msg, msg]; \n    }\n}else{\n    msg.payload = \"Ошибка доступа\"\n    return [msg, null, null, null, msg];\n}\n","outputs":5,"noerr":0,"x":240,"y":300,"wires":[["32580368.3d120c"],["4477a629.1014c8"],["e9525081.15a47"],["1d5f02b.adbcdfd"],["e61aebb8.b79b98"]]},{"id":"4477a629.1014c8","type":"http response","z":"ad4fe5bc.d524d8","name":"Выход оператор найден","statusCode":"200","headers":{},"x":810,"y":340,"wires":[]},{"id":"e9525081.15a47","type":"http response","z":"ad4fe5bc.d524d8","name":"Выход оператор НЕ найден","statusCode":"200","headers":{},"x":820,"y":380,"wires":[]},{"id":"1d5f02b.adbcdfd","type":"http response","z":"ad4fe5bc.d524d8","name":"Выход некорректный ввод номера","statusCode":"200","headers":{},"x":850,"y":420,"wires":[]}]
